<!doctype html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
  <head>
    <!-- Define o título da página exibido na aba do navegador. -->
    <title>TODO supply a title</title>
    <!-- Define a codificação de caracteres usada pelo documento. -->
    <meta charset="UTF-8" />
    <!-- Configuração de viewport para responsividade em dispositivos móveis. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <!-- Conteúdo estático que será exibido na página inicial. -->
    <div>Bem vindo a página inicial</div>
    <div>
        <a href="./login"><button>Logar</button></a>
        <a href="./registrar"><button>Registrar</button></a>
    </div>
  </body>
</html>
