<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>REGISTRAR</h2>
        <form 
            th:action="@{/registrar}" 
            th:object="${user}" method="post"
        >
            <label>Nome: </label>
            <input type="text" th:field="*{nome}" placeholder="Lambarildo" />
            <br/><br/>
            
            <label>Email: </label>
            <input type="email" th:field="*{email}" placeholder="lambarildo.peixe@hotmail.com" />
            <br/><br/>
            
            <label>Senha: </label>
            <input type="password" th:field="*{senha}"/>
            <br/><br/>
            
            <button type="submit"> Cadastrar</button>
            
        </form>
    </body>
</html>
