<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form>
            <label>E-mail: </label>
            <input type="email" id="email" name="email" />
            <br/>
            <label>Senha: </label>
            <input type="password" id="senha" name="senha" />
            <br/>
            <button type="submit">Logar</button>
        </form>
    </body>
</html>
